@import url(https://fonts.googleapis.com/css?family=Nunito);
@import url('https://fonts.googleapis.com/css?family=Orbitron:400,500&display=swap');

body {
  background: #000;
  font-family: "Droid Sans Mono",Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  color: #FFF;
}

header {
  padding:2em;
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
  border-bottom: 1px solid rgba(48,52,60,0.75);
}
iframe {
  max-width: 100%;
  margin: 0 auto;
}
::placeholder {
  opacity: .5;
}
.top-menu ul {
  display:flex;
  flex-wrap:wrap;
}
.top-menu ul li {
  margin:0 10px;
}
#form {
  padding: 2em;
  text-align:center;
  border-bottom: 1px solid rgba(48,52,60,0.75);
}
.wrap {
  padding: 0; /*20px 0*/
  margin: 0 auto;

}
.wrap button {
  font-weight: bolder;
  font-size: 22px;
  background: #000;
  color: #0ebeff;
  border: 1px solid;
  width: 100%;
  cursor: pointer;
  padding :0 5px;
  line-height: 40px;
  -webkit-transition: background-color .2s ease-out;
  -moz-transition: background-color .2s ease-out;
  -o-transition: background-color .2s ease-out;
  transition: background-color .2s ease-out;
}

.wrap button:nth-child(2n+1) {
  margin-right:6px;
} 
.wrap button:hover {
  background-color: #2bcdee29;
}
button#slider-start-next:active, button#slider-next:active {
  transform: translateX(4px);
}
button#slider-start-prev:active, button#slider-end-prev:active {
  transform: translateX(-4px);
}
#ytplayer {
  display: flex;
  flex-flow: column;
  justify-content: center;
  max-width: 1700px;
  margin: 0 auto;
  padding: 2em;
  border-bottom: 1px solid rgba(48,52,60,0.75);
}



#player {
  width: 95%; /* Ajusté pour occuper toute la largeur */
  height: 600px; /* Hauteur ajustée pour un affichage plus grand */
  padding : 10px; 
}

.controls {
  flex-grow: 1;
  margin-left: 150px;
  margin-top : -100px; 
  max-width: 600px; 
  width: 100%; 
} 

#prevtime, #nexttime {
    flex: 1;
    color: #2bcdee;
    font-weight: bolder;
    font-size: 24px;
    color: #2bcdee45;
    cursor: no-drop;
    text-align: center;
    border: 1px solid;
    line-height: 35px;
    -webkit-transition: background-color .2s ease-out;
    -moz-transition: background-color .2s ease-out;
    -o-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
}
#prevtime:hover , #nexttime:hover {
    background-color: #2BCDEE14;
}
#prevtime:active {
    transform: translateX(-4px);
}
#nexttime:active {
    transform: translateX(4px);
}

.controls {
  flex-grow: 1;
}
.controls .info {
  margin-bottom: 1px;
  border-bottom: 1px solid #0ebeff;
  padding: 10px 0;
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.controls .info div, h5 {
  margin: .5em 0;
}

.irs--round .irs-min, .irs--round .irs-max {
  color: #c4c4c9;
}


#form {
    padding: 25px;
}
.Upload{
  margin-left: 900px;
  margin-top: -110px;
}
.form {
    max-width: 800px;
    height: 80px;
    margin: 50px;
    margin-top: 25px;
}
.form label {
    flex-basis: 100%;
    width: 100%;
    margin-bottom: 5px;
}
.form form {
    display: flex;
}
#d-pscreen {
  opacity: .5;
  cursor: no-drop;
}
.btn {
    display: inline-block;
    background: transparent;
    color: inherit;
    font: inherit;
    border: 0;
    outline: 0;
    padding: 0;
    transition: all 200ms ease-in;
    cursor: pointer;
  }
  .btn--primary {
    background: #f39c12;
    color: #fff;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    padding: 12px 10px;
  }
  .btn--primary:hover {
    background: #f89406;
  }
  .btn--primary:active {
    background: #f39c12;
    box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, 0.2);
  }
  .btn--inside {
    position: relative;
    z-index: 10;
    /* margin-left: -96px; */
    margin-left: 0;
    flex-grow: 1;
  }
  
  .form__field {
    min-width: calc(100% - 170px);
    background: #fff;
    color: #000;
    font: inherit;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    border: 0;
    outline: 0;
    padding: 22px 18px;
  }



.form__field:hover {
  border: 1px solid #0000ff; 
}


.form__field:focus {
  border: 3px solid #0000ff; 
  outline: none; 
}

.download ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  max-width: 750px;
  margin:0 auto;
  color: #c2c4c9;
}
.download ul li:nth-child(odd) span {
  order: 2;
  margin-right: 15px;
}
.download ul li {
    flex: calc(40% - 40px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    cursor: pointer;
    /* background-color: darkred; */
    padding: 20px;
    border: 1px solid transparent;
    -webkit-transition: border-color .4s ease;
    -moz-transition: border-color .4s ease;
    -o-transition: border-color .4s ease;
    transition: border-color .4s ease;
}
.download ul li:hover {
    border-color: #2BCDEE;
}

.download img {
    height: 36px;
}
.player-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-top: 15px;
  background-color: #041318;
}
.player-controls div {
  flex-grow: 1;
}
.player-controls div:nth-child(1) {
  display: flex;
  justify-content: flex-start;
}
.player-controls div:nth-child(3) {
  display: flex;
  justify-content: flex-end;
}
#time {
    font-family: 'Orbitron', sans-serif;
    background: none;
    border: none;
    color: #FFF;
    /* text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0080, 0 0 30px #ff0080, 0 0 40px #ff0080, 0 0 55px #ff0080, 0 0 75px #ff0080; */
    text-align: center;
    min-width:130px;
    font-size: 16px;
    letter-spacing: 2px;
    padding:0 3px;
    flex: 1;
    cursor: pointer;
}
.preview {
  width: 28%;
  min-width: 200px;
  margin: 0 auto;
  text-align:center;
}
#preview {
    font-size:14px;
    width: auto;
    margin: 10px;
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    -ms-box-sizing: border-box !important;
    box-sizing: border-box !important;
    padding: 3px 0;
    color: #0ebeff;
    cursor: pointer;
    text-transform: uppercase;
    border:1px solid #0ebeff;
    padding: 5px;
    letter-spacing: 1px;
}
#preview:hover {
    background-color: #2BCDEE;
    color: #000!important;
}
@media(min-width:992px) {
  #time {
    font-size: 20px;
    min-width: 160px;
  }
  #ytplayer {
      flex-flow: row;
  }
  iframe {
    max-width: 100%;
  }

  .controls {
      padding: 0 0 0 2em;
  }
  .controls h5 {
    margin-top:0;
  }
   .btn--inside {
        margin-left: -96px;
    }
    .form__field {
        min-width: calc(100% - 96px);
    }
    .form form {
        display: block;
    }
    .btn--primary {
        padding: 12px 36px;
    }
} 
.noselect {
  outline: none;
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}
#range-slider {
  background: transparent;
  border: 0;
  max-width: 1700px; /*Modifiaction*/
}


.form-container {
  width: 450px; /* Réduit encore la largeur du conteneur du formulaire */
  height: 700px;
  margin: 10px auto; /* Centrer le formulaire sur la page */
  background: transparent;
  border: 2px solid rgb(43, 205, 238);
  backdrop-filter: blur(9px);
  color: #fff;
  border-radius: 12px;
  padding-left: 30px; /* Réduit le padding intérieur pour un formulaire plus compact */
  padding-top: 30px;
  padding-bottom: 20px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

.form-container label {
  font-size: 15px; /* Réduit la taille de police des labels */
  margin-bottom: 8px; /* réduit l'espace après les labels */
  display: block;
  line-height: 0.5;
}

.form-container input[type="text"],
.form-container select {
  width: 90%; /* La largeur des inputs sera la même que celle du conteneur */
  height: 25px; /* Réduit davantage la hauteur des inputs */
  background: transparent;
  border: 2px solid rgb(43, 205, 238);
  border-radius: 20px; /* Ajuste le rayon de la bordure pour les inputs */
  font-size: 12px; /* Réduit la taille de police des inputs */
  color: #fff;
  padding: 0 10px; /* Réduit le padding horizontal pour les inputs */
  margin-bottom: 8px; /* Réduit l'espace entre les inputs */
}

.form-container input[type="submit"] {
  height: 30px; /* Réduit la hauteur du bouton de soumission */
  width : 100px;
  font-size: 13px; /* Ajuste la taille de police pour la lisibilité */
  margin-top: 2px; /* Réduit l'espace avant le bouton de soumission */
  border-radius: 20px;
}

/* Assurez-vous que le formulaire reste utilisable sur les petits écrans */
@media (max-width: 460px) {
  .form-container {
    width: 90%; /* Le formulaire prend 90% de la largeur de l'écran sur les petits appareils */
    padding: 10px;
  }
}


/*Modificatio*/
.layout-container {
  display: flex;
}

.video-and-slider {
  flex: 1; 
  flex-direction: column; 
}

.player {
  width: 100%;
}

.slider-container {
  width: 90%; 
  margin: 0 auto;
}

#range-slider {
  width: 90%; 
}

#form {
  transition: opacity 0.5s ease-in-out; /* Assure une transition douce de l'opacité */
  /* autres styles pour #form */
}



/* Change la couleur de la barre de progression */
.irs--flat .irs-bar {
  background-color:  #229fed; 
}

/* Change la couleur de la poignée du slider */
.irs--flat .irs-handle {
  border-color: #11467f; 
}

/* Change la couleur de la poignée du slider au survol
.irs--flat .irs-handle:hover {
  background-color: #4CAF50; 
} */

/* Change la couleur des points de départ et de fin (les poignées) */
.irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single {
  background-color: #1da4ec; 
}

/* Change la couleur du texte des labels (par exemple, les valeurs affichées au-dessus du slider) */
.irs--flat .irs-min, .irs--flat .irs-max, .irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single {
  color: #FFFFFF; /* Texte en blanc */
  background-color :  #041f2d; 
}

/* Styles pour les boutons */
button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

/* Styles pour la classe "btn-submit" */
.btn-submit {
  background-color: #4CAF50;
  color: white;
}

/* Styles au survol de la classe "btn-submit" */
.btn-submit:hover {
  background-color: #45a049;
}

/* Styles pour la classe "btn-upload" */
.btn-upload {
  background-color: #008CBA;
  color: white;
}

/* Styles au survol de la classe "btn-upload" */
.btn-upload:hover {
  background-color: #006080;
}

/* Styles pour la classe "btn-download" */
.btn-download {
  background-color: #f44336;
  color: white;
  margin: 40px;
}

/* Styles au survol de la classe "btn-download" */
.btn-download:hover {
  background-color: #d32f2f;
  
}

/* Styles pour la classe "btn-choose-file" */
.btn-choose-file {
  display: block;
  margin-top: 10px;
  color: #333;
  font-size: 16px;
}

/* Styles au survol de la classe "btn-choose-file" */
.btn-choose-file:hover {
  color: #4fa9c7;
}

form#videoUploadForm input[type="file"] {
  display: none;
}

form#videoUploadForm button[type="button"] {
  background-color: #3498db;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}





