<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>TennisInsight</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.0/css/ion.rangeSlider.min.css'>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css'>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/my_videos.css') }}">
  
</head>
<body>
	<div class="top-bar">
    <!-- Picture/logo -->
    <img src="{{ url_for('static', filename='/img/logo_tennis_insight.png')}}" alt="Logo">

    <!-- Link to the annotations page -->
    <a href="/annotations.html">Annotations</a>
</div>
  
  <div class="Upload">
    <form action="{{ url_for('upload_video') }}" method="post" enctype="multipart/form-data">
      <input type="file" name="video" accept=".mp4">
      <input type="submit" value="Upload">
    </form>
  </div>
  
  <form action='/annotation_youtube' method="get">
    <button type="submit" class="btn-download">Upload or load with youtube</button>
  </form>


  <h2>Liste des vidéos locales</h2>
  <table>
    <thead>
        <tr>
            <th>Thumbnail</th>
            <th>Name</th>
            <th>Duration</th>
            <th>FPS</th>
            <th>Resolution</th>
            <th>Setting</th>
        </tr>
    </thead>
    <tbody>
        {% for video in video_info %}
            <tr>
              <td class="thumbnail-cell"><img src="{{ url_for('static', filename='thumbnails/' + video.thumbnail) }}" alt="Thumbnail" width="140" height="65"></td>
              <td>{{ video.file_name }}</td>
              <td>{{ video.duration }} </td>
              <td>{{ video.fps }} FPS</td>
              <td>{{ video.size[0] }}x{{ video.size[1] }}</td>
              <td>
                <a href="/annotate_video/{{ video.file_name }}">
                  <button class="btn btn-primary modify-btn">Annotate</button>
                </a>
              </td>
            </tr>
        {% endfor %}
    </tbody>
  </table>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.0/js/ion.rangeSlider.min.js'></script>
  <script type="text/javascript" src='https://cdn.jsdelivr.net/npm/sweetalert2@11'></script>
  <script type="text/javascript"  src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="{{ url_for('static', filename='js/annotation.js') }}"></script>
  <script src="{{ url_for('static', filename='js/local_video_script.js') }}"></script>
</body>
</html>
    