
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>TennisInsight</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.0/css/ion.rangeSlider.min.css'>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/annotation.css') }}">

</head>


<body>
<!-- Upload video  -->
<form id="videoUploadForm" action="/upload_video_desktop_app" method="post" enctype="multipart/form-data">
    <h2>Video Upload</h2>

    <label for="videoFile">Select Video File:</label>
    <input type="file" id="videoFile" name="videoFile" accept="video/*" required><br>

    <button type="button" onclick="uploadVideo()">Upload</button>
</form>

<form action="/download_data" method="get">
  <button type="submit">Download Data</button>
</form>

<section id="form">
    <div class="desc">
        <h1>YouTube downloader</h1>
        <p>extract, video, audio, trim, cut, meme scenes from YouTube videos</p>
    </div>

    <div class="form">
        <form>
            <input class="url form__field" type="text" name="url" autocomplete="off" value="" placeholder="Paste the youtube video link here">
            <button type="submit" class="btn btn--primary btn--inside">Process</button>
        </form>
    </div>
</section>

<section id="ytplayer">
  <div id="player" class="player">
  </div>
  <div class="form-container">
    <form action="/submit_annotation" method="post">
      <!-- Nom du joueur -->
      <label for="playerName">Nom du joueur :</label>
      <input type="text" id="playerName" name="playerName"><br><br>

      <!-- Score après le point -->
      <label for="scoreAfter">Score après :</label>
      <input type="text" id="scoreAfter" name="scoreAfter"><br><br>

      <!-- Timing de début -->
      <label for="startTime">Timing de début :</label>
      <input type="text" id="startTime" name="startTime"><br><br>

      <!-- Timing de fin -->
      <label for="endTime">Timing de fin :</label>
      <input type="text" id="endTime" name="endTime"><br><br>

      <!-- Coup entrant -->
      <label for="incomingShot">Coup entrant :</label>
      <select id="incomingShot" name="incomingShot">
          <option value="smash">Smash</option>
          <option value="volley">Volley</option>
          <option value="dropShot">Amorti</option>
          <option value="lob">Lob</option>
      </select><br><br>

      <!-- Revers ou coup droit entrant -->
      <label for="incomingType">Revers ou coup droit entrant :</label>
      <select id="incomingType" name="incomingType">
          <option value="backhand">Revers</option>
          <option value="forehand">Coup Droit</option>
      </select><br><br>

      <!-- Revers ou coup droit sortant -->
      <label for="outgoingType">Revers ou coup droit sortant :</label>
      <select id="outgoingType" name="outgoingType">
          <option value="backhand">Revers</option>
          <option value="forehand">Coup Droit</option>
      </select><br><br>

      <!-- Coup sortant -->
      <label for="outgoingShot">Coup sortant :</label>
      <select id="outgoingShot" name="outgoingShot">
          <option value="smash">Smash</option>
          <option value="volley">Volley</option>
          <option value="dropShot">Amorti</option>
          <option value="lob">Lob</option>
      </select><br><br>

      <!-- Finition du point -->
      <label for="pointFinish">Finition du point :</label>
      <select id="pointFinish" name="pointFinish">
          <option value="winner">Coup gagnant</option>
          <option value="forcedError">Faute provoquée</option>
          <option value="unforcedError">Faute directe</option>
      </select><br><br>

      <!-- Position par rapport à l'arbitre -->
      <label for="position">Position face à l'arbitre :</label>
      <select id="position" name="position">
          <option value="right">Droite</option>
          <option value="left">Gauche</option>
      </select><br><br>

      <input type="submit" value="Soumettre" >
    </form>
  </div>
</section>  

  <div class="controls">
    <div class="info">
      <h5>Title of video</h5>

    </div>
      
    <div class="wrap">
      <input id="range-slider" type="text" name="range" value="" />

      <div class="player-controls">
        
        <div>
          
          <button id="slider-start-prev" class="slider-controls noselect" value="prev" title="Seek 0.1 sec"><<</button>
          <button id="slider-start-next" class="slider-controls noselect" value="next" title="Seek 0.1 sec">>></button>
        </div>
        
          <div id="time" class="noselect" title="Pause/Resume">00:00:00.0</div>
          
        <div>
          <button id="slider-end-prev" class="slider-controls noselect" value="next" title="Seek 0.1 sec"><<</button>
          <button id="slider-next" class="slider-controls noselect" value="prev" title="Seek 0.1 sec">>></button> 
        </div>
      </div>
      
    </div>
    <div class="preview">
      <div><small>Duration: <span id="ytduration">00:00:00.0</span></small></div>
      <div id="preview">Preview</div>
    </div>

          <div class="download">
            <ul>
              <li id="d-file"><span>Download video file</span> <img src="http://ytdl.site/img/file.svg"></li>
            </ul>
          </div>
  </div>

  <!-- (Modification)  -->
  <script>
    document.addEventListener('DOMContentLoaded', function () {
        var annotationForm = document.querySelector('form[action="/submit_annotation"]');

        annotationForm.addEventListener('submit', function (event) {
            event.preventDefault();

            var formData = new FormData(annotationForm);

            // Send AJAX request to Flask server
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/submit_annotation', true);
            xhr.onload = function () {
                if (xhr.status == 200) {
                    Swal.fire({
                        title: 'Annotation enregistrée',
                        icon: 'success',
                        showConfirmButton: false,
                        timer: 2000  // 2 seconds
                    }).then(function () {
                        annotationForm.reset();
                    });
                }
            };
            xhr.send(formData);
        });
    });
</script>
  


<!-- Upload video -->
<script>
    function uploadVideo() {
        var videoInput = document.getElementById('videoFile');
        var file = videoInput.files[0];

        // Check if a file is selected
        if (!file) {
            alert("Please select a video file.");
            return;
        }

        // Prepare the FormData for the AJAX request
        var formData = new FormData();
        formData.append('videoFile', file);

        // Make an AJAX request to upload_video_desktop_app.py
        $.ajax({
            url: '/upload_video_desktop_app',
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            success: function(response) {
                alert("Video uploaded successfully! File name: " + file.name);
            },
            error: function(error) {
                alert("Error uploading video. Please try again.");
            }
        });
    }
</script>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.0/js/ion.rangeSlider.min.js'></script>
<script type="text/javascript" src='https://cdn.jsdelivr.net/npm/sweetalert2@11'></script>
<script src="{{ url_for('static', filename='js/annotation.js') }}"></script>
</body>
</html>
