
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>TennisInsight</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.0/css/ion.rangeSlider.min.css'>
  <!--<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css'>-->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/annotation.css') }}">

</head>


<body>




<section id="form">
    <div class="desc">
        <h1>TennisInsight</h1>
    </div>

    <div class="form">
        <form action="/process_url" method="POST">
            <input class="url form__field" type="text" name="url" autocomplete="off" value="" placeholder="Paste the youtube video link here">
            <button type="submit" class="btn btn--primary btn--inside">Process</button>
        </form>
    </div>

    <div class="Upload">
      <!-- Upload video  -->
        <form id="videoUploadForm" action="/upload_video_desktop_app" method="post" enctype="multipart/form-data">
          <label for="videoFile" class="btn-choose-file">Select Video File:</label>
          <input type="file" id="videoFile" name="videoFile" accept="video/*" required><br>

          <button type="button" onclick="uploadVideo()" class="btn btn-upload">Upload</button>
        </form>
    </div>

</section>




<div class="layout-container">
  <div class="video-and-slider">
    <div id="player" class="player">
      <!-- Le lecteur YouTube s'insère ici -->
    </div>
    <div class="slider-container">
      <input id="range-slider" type="text" name="range" value="" />
    </div>
  </div>
  <div class="form-container">
    <!-- Le formulaire s'insère ici -->
    <form action="/submit_annotation" method="post">
      <!-- Nom du joueur -->
      <label for="playerName">Nom du joueur :</label>
      <input type="text" id="playerName" name="playerName"><br><br>

      <!-- Score après le point -->
      <label for="scoreAfter">Score après :</label>
      <input type="text" id="scoreAfter" name="scoreAfter"><br><br>

      <!-- Timing de début -->
      <label for="startTime">Timing de début :</label>
      <input type="text" id="startTime" name="startTime"><br><br>

      <!-- Timing de fin -->
      <label for="endTime">Timing de fin :</label>
      <input type="text" id="endTime" name="endTime"><br><br>

      <!-- Coup entrant -->
      <label for="incomingShot">Coup entrant :</label>
      <select id="incomingShot" name="incomingShot">
          <option value="smash">Smash</option>
          <option value="volley">Volley</option>
          <option value="dropShot">Amorti</option>
          <option value="lob">Lob</option>
      </select><br><br>

      <!-- Revers ou coup droit entrant -->
      <label for="incomingType">Revers ou coup droit entrant :</label>
      <select id="incomingType" name="incomingType">
          <option value="backhand">Revers</option>
          <option value="forehand">Coup Droit</option>
      </select><br><br>

      <!-- Revers ou coup droit sortant -->
      <label for="outgoingType">Revers ou coup droit sortant :</label>
      <select id="outgoingType" name="outgoingType">
          <option value="backhand">Revers</option>
          <option value="forehand">Coup Droit</option>
      </select><br><br>

      <!-- Coup sortant -->
      <label for="outgoingShot">Coup sortant :</label>
      <select id="outgoingShot" name="outgoingShot">
          <option value="smash">Smash</option>
          <option value="volley">Volley</option>
          <option value="dropShot">Amorti</option>
          <option value="lob">Lob</option>
      </select><br><br>

      <!-- Finition du point -->
      <label for="pointFinish">Finition du point :</label>
      <select id="pointFinish" name="pointFinish">
          <option value="winner">Coup gagnant</option>
          <option value="forcedError">Faute provoquée</option>
          <option value="unforcedError">Faute directe</option>
      </select><br><br>

      <!-- Position par rapport à l'arbitre -->
      <label for="position">Position face à l'arbitre :</label>
      <select id="position" name="position">
          <option value="right">Droite</option>
          <option value="left">Gauche</option>
      </select><br><br>

      <input type="submit" value="Soumettre" class="btn btn-submit">
    </form>
  </div>
</div>






  <div class="controls">
    <div class="info">
    </div>
    <div class="wrap">
      <!-- <input id="range-slider" type="text" name="range" value="" /> -->

      <div class="player-controls">
        
        <div>
          
          <button id="slider-start-prev" class="slider-controls noselect" value="prev" title="Seek 0.1 sec"><<</button>
          <button id="slider-start-next" class="slider-controls noselect" value="next" title="Seek 0.1 sec">>></button>
        </div>
        
          <div id="time" class="noselect" title="Pause/Resume">00:00:00.0</div>
          
        <div>
          <button id="slider-end-prev" class="slider-controls noselect" value="next" title="Seek 0.1 sec"><<</button>
          <button id="slider-next" class="slider-controls noselect" value="prev" title="Seek 0.1 sec">>></button> 
        </div>
      </div>
      
    </div>
    <div class="preview">
      <div><small>Duration: <span id="ytduration">00:00:00.0</span></small></div>
      <div id="preview">Preview</div>
    </div>

         
  </div>

  <form action="/download_data" method="get">
    <button type="submit" class="btn-download">Download Data</button>
  </form>

  <h2>Liste des annotations</h2>
  
  <table>
    <thead>
        <tr>
          <th>index</th>
          <th>Player Name</th>
          <th>Score After</th>
          <th>Start Time</th>
          <th>End Time</th>
          <th>Incoming Shot</th>
          <th>Incoming Type</th>
          <th>Outgoing Type</th>
          <th>Outgoing Shot</th>
          <th>Point Finish</th>
          <th>Position</th>
          <th>Modify</th>
        </tr>
    </thead>
    <tbody>
        <!-- Table rows will be dynamically added here -->
    </tbody>
</table>

  <!-- (Modification)  -->
  <script>
    document.addEventListener('DOMContentLoaded', function () {
        var annotationForm = document.querySelector('form[action="/submit_annotation"]');
        var isModify = false;
        index = 0;
        console.log(isModify)

        annotationForm.addEventListener('submit', function (event) {
            event.preventDefault();
            annotationIndex = event.target.dataset.index;
            console.log("annotation index")
            console.log(annotationIndex)
            console.log("index")
            console.log(index)
            var formData = new FormData(annotationForm);
            var url = isModify ? '/update_annotation/' + index : '/submit_annotation';
            console.log(url)

            // Send AJAX request to Flask server
            var xhr = new XMLHttpRequest();
            xhr.open('POST', url, true);
            xhr.onload = function () {
                if (xhr.status == 200) {
                    Swal.fire({
                        title: 'Annotation enregistrée',
                        icon: 'success',
                        showConfirmButton: false,
                        timer: 2000  // 2 seconds
                    }).then(function () {
                        annotationForm.reset();
                        isModify = false;
                        console.log(isModify)

                        // Fetch annotations after form submission
                        fetchAnnotations();
                    });
                }
            };
            xhr.send(formData);
        });

        // Function to fetch annotations from the server
        function fetchAnnotations() {
            var xhrAnnotations = new XMLHttpRequest();
            xhrAnnotations.open('GET', '/get_annotations', true);
            xhrAnnotations.onload = function () {
                if (xhrAnnotations.status == 200) {
                    var annotationData = JSON.parse(xhrAnnotations.responseText);
                    updateTable(annotationData);
                }
            };
            xhrAnnotations.send();
        }

        // Function to update HTML table with new data
        function updateTable(annotationData) {
          var tableBody = document.querySelector('tbody');
          tableBody.innerHTML = '';

          // Rebuild table rows with new data
          annotationData.forEach(function (annotation, index) {
            var row = '<tr>';
            row += '<td>' + index + '</td>'; // Add the index
            row += '<td>' + annotation.playerName + '</td>';
            row += '<td>' + annotation.scoreAfter + '</td>';
            row += '<td>' + annotation.startTime + '</td>';
            row += '<td>' + annotation.endTime + '</td>';
            row += '<td>' + annotation.incomingShot + '</td>';
            row += '<td>' + annotation.incomingType + '</td>';
            row += '<td>' + annotation.outgoingType + '</td>';
            row += '<td>' + annotation.outgoingShot + '</td>';
            row += '<td>' + annotation.pointFinish + '</td>';
            row += '<td>' + annotation.position + '</td>';
            row += '<td><button class="btn btn-primary modify-btn" data-index="' + index + '">Modify</button></td>';
            row += '</tr>';
            tableBody.innerHTML += row;
    });

    // Add event listeners to the buttons
    var modifyButtons = document.querySelectorAll('.modify-btn');
    

    modifyButtons.forEach(function(button) {
        button.addEventListener('click', function(event) {
            isModify = true;
            console.log(isModify)
            index = event.target.dataset.index;
            console.log(index)
            // Get data of the row that triggered the update route
            var rowData = annotationData[index];
            // Call a function to populate the form with rowData
            populateForm(rowData);
        });
    });

}

// Function to populate the form with row data
function populateForm(rowData) {
    // Get form elements
    var playerNameInput = document.getElementById('playerName');
    var scoreAfterInput = document.getElementById('scoreAfter');
    var startTimeInput = document.getElementById('startTime');
    var endTimeInput = document.getElementById('endTime');
    var incomingShotSelect = document.getElementById('incomingShot');
    var incomingTypeSelect = document.getElementById('incomingType');
    var outgoingTypeSelect = document.getElementById('outgoingType');
    var outgoingShotSelect = document.getElementById('outgoingShot');
    var pointFinishSelect = document.getElementById('pointFinish');
    var positionSelect = document.getElementById('position');

    // Populate form with rowData
    playerNameInput.value = rowData.playerName;
    scoreAfterInput.value = rowData.scoreAfter;
    startTimeInput.value = rowData.startTime;
    endTimeInput.value = rowData.endTime;
    incomingShotSelect.value = rowData.incomingShot;
    incomingTypeSelect.value = rowData.incomingType;
    outgoingTypeSelect.value = rowData.outgoingType;
    outgoingShotSelect.value = rowData.outgoingShot;
    pointFinishSelect.value = rowData.pointFinish;
    positionSelect.value = rowData.position;
    window.scrollTo({
        top: 0,
        behavior: 'smooth'
    });
}

        // Fetch annotations when the page loads
        fetchAnnotations();
    });
</script>
  


<!-- Upload video -->
<script>
    function uploadVideo() {
        var videoInput = document.getElementById('videoFile');
        var file = videoInput.files[0];

        // Check if a file is selected
        if (!file) {
            alert("Please select a video file.");
            return;
        }

        // Prepare the FormData for the AJAX request
        var formData = new FormData();
        formData.append('videoFile', file);

        // Make an AJAX request to upload_video_desktop_app.py
        $.ajax({
            url: '/upload_video_desktop_app',
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            success: function(response) 
            {

              // Extract the videoId from the response if available
              var videoId = response.link;
             
              alert("Video uploaded successfully! link: https://www.youtube.com/watch?v=: " + videoId);

              // Update the URL with the new videoId
              if (videoId) {
                  window.location.href = updateUrlParameter(window.location.href, 'videoId', videoId);
              }
            },
            error: function(error) {
                alert("Error uploading video. Please try again.");
            }
        });
    }
</script>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.0/js/ion.rangeSlider.min.js'></script>
<script type="text/javascript" src='https://cdn.jsdelivr.net/npm/sweetalert2@11'></script>
<!--<script type="text/javascript"  src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>-->
<script src="{{ url_for('static', filename='js/annotation.js') }}"></script>
</body>
</html>
