
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>TennisInsight</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.0/css/ion.rangeSlider.min.css'>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/annotation.css') }}">

</head>


<body>




<section id="form">
    <div class="desc">
        <h1>TennisInsight</h1>
    </div>

    <div class="form">
        <form action="/process_url" method="POST">
            <input class="url form__field" type="text" name="url" autocomplete="off" value="" placeholder="Paste the youtube video link here">
            <button type="submit" class="btn btn--primary btn--inside">Process</button>
        </form>
    </div>

    <div class="Upload">
      <!-- Upload video  -->
        <form id="videoUploadForm" action="/upload_video_desktop_app" method="post" enctype="multipart/form-data">
          <label for="videoFile" class="btn-choose-file">Select Video File:</label>
          <input type="file" id="videoFile" name="videoFile" accept="video/*" required><br>

          <button type="button" onclick="uploadVideo()" class="btn btn-upload">Upload</button>
        </form>
    </div>

</section>




<div class="layout-container">
  <div class="video-and-slider">
    <div id="player" class="player">
      <!-- Le lecteur YouTube s'insère ici -->
    </div>
    <div class="slider-container">
      <input id="range-slider" type="text" name="range" value="" />
    </div>
  </div>
  <div class="form-container">
    <!-- Le formulaire s'insère ici -->
    <form action="/submit_annotation" method="post">
      <!-- Nom du joueur -->
      <label for="playerName">Nom du joueur :</label>
      <input type="text" id="playerName" name="playerName"><br><br>

      <!-- Score après le point -->
      <label for="scoreAfter">Score après :</label>
      <input type="text" id="scoreAfter" name="scoreAfter"><br><br>

      <!-- Timing de début -->
      <label for="startTime">Timing de début :</label>
      <input type="text" id="startTime" name="startTime"><br><br>

      <!-- Timing de fin -->
      <label for="endTime">Timing de fin :</label>
      <input type="text" id="endTime" name="endTime"><br><br>

      <!-- Coup entrant -->
      <label for="incomingShot">Coup entrant :</label>
      <select id="incomingShot" name="incomingShot">
          <option value="smash">Smash</option>
          <option value="volley">Volley</option>
          <option value="dropShot">Amorti</option>
          <option value="lob">Lob</option>
      </select><br><br>

      <!-- Revers ou coup droit entrant -->
      <label for="incomingType">Revers ou coup droit entrant :</label>
      <select id="incomingType" name="incomingType">
          <option value="backhand">Revers</option>
          <option value="forehand">Coup Droit</option>
      </select><br><br>

      <!-- Revers ou coup droit sortant -->
      <label for="outgoingType">Revers ou coup droit sortant :</label>
      <select id="outgoingType" name="outgoingType">
          <option value="backhand">Revers</option>
          <option value="forehand">Coup Droit</option>
      </select><br><br>

      <!-- Coup sortant -->
      <label for="outgoingShot">Coup sortant :</label>
      <select id="outgoingShot" name="outgoingShot">
          <option value="smash">Smash</option>
          <option value="volley">Volley</option>
          <option value="dropShot">Amorti</option>
          <option value="lob">Lob</option>
      </select><br><br>

      <!-- Finition du point -->
      <label for="pointFinish">Finition du point :</label>
      <select id="pointFinish" name="pointFinish">
          <option value="winner">Coup gagnant</option>
          <option value="forcedError">Faute provoquée</option>
          <option value="unforcedError">Faute directe</option>
      </select><br><br>

      <!-- Position par rapport à l'arbitre -->
      <label for="position">Position face à l'arbitre :</label>
      <select id="position" name="position">
          <option value="right">Droite</option>
          <option value="left">Gauche</option>
      </select><br><br>

      <input type="submit" value="Soumettre" class="btn btn-submit">
    </form>
  </div>
</div>






  <div class="controls">
    <div class="info">
    </div>
    <div class="wrap">
      <!-- <input id="range-slider" type="text" name="range" value="" /> -->

      <div class="player-controls">
        
        <div>
          
          <button id="slider-start-prev" class="slider-controls noselect" value="prev" title="Seek 0.1 sec"><<</button>
          <button id="slider-start-next" class="slider-controls noselect" value="next" title="Seek 0.1 sec">>></button>
        </div>
        
          <div id="time" class="noselect" title="Pause/Resume">00:00:00.0</div>
          
        <div>
          <button id="slider-end-prev" class="slider-controls noselect" value="next" title="Seek 0.1 sec"><<</button>
          <button id="slider-next" class="slider-controls noselect" value="prev" title="Seek 0.1 sec">>></button> 
        </div>
      </div>
      
    </div>
    <div class="preview">
      <div><small>Duration: <span id="ytduration">00:00:00.0</span></small></div>
      <div id="preview">Preview</div>
    </div>

         
  </div>

  <form action="/download_data" method="get">
    <button type="submit" class="btn-download">Download Data</button>
  </form>

  <!-- <h2>Liste des annotations</h2> -->
  
  <table>
    <thead>
        <tr>
          <th>index</th>
          <th>Player Name</th>
          <th>Score After</th>
          <th>Start Time</th>
          <th>End Time</th>
          <th>Incoming Shot</th>
          <th>Incoming Type</th>
          <th>Outgoing Type</th>
          <th>Outgoing Shot</th>
          <th>Point Finish</th>
          <th>Position</th>
          <th>Modify</th>
        </tr>
    </thead>
    <tbody>
        <!-- Table rows will be dynamically added here -->
    </tbody>
</table>

  <!-- (Modification)  
  <script>
    
</script>-->
  


  <!-- Upload video 
  <script>
      
  </script>-->


  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.0/js/ion.rangeSlider.min.js'></script>
  <script type="text/javascript" src='https://cdn.jsdelivr.net/npm/sweetalert2@11'></script>
  <script src="{{ url_for('static', filename='js/annotation.js') }}"></script>
</body>
</html>
